/* header {
background: url('https://www.thecoli.com/media/wow-shoot-dance-remix.16573/full?d=1518225925');
height: 500px
} */

#trukknorrisgif{
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
}
