.bg {
  background: url("./assets/marc-schafer-1089653-unsplash.jpg");
  background-size: cover; 
  height: 500px; 
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 15px;
  margin: 0;
  padding: 0;
}
footer p{
  display: inline;
}
